{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenCIRT</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/new_style.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    {% if request.user.light_mode %}
        <link rel="stylesheet" href="/static/css/{{ request.user.light_mode }}.css">
    {% else %}
        <link rel="stylesheet" href="/static/css/light_mode.css">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>      
    <header class="header">
        {% if request.user.light_mode == 'light_mode'%}
            <a class=logo href="/home"><img  src="{% static 'logo_phrase_light.png' %}" ></a>
        {% elif request.user.light_mode == 'dark_mode' %}
            <a class=logo href="/home"><img  src="{% static 'logo_phrase_dark.png' %}" ></a>
        {% endif %}
        <nav class="links">
            <ul>
              <li><a href="/incident/{{incident.id}}/overview" class="link">Overview</a></li>
              <li><a href="/incident/{{incident.id}}/timeline" class="link">Timeline</a></li>
              <li><a href="/incident/{{incident.id}}/iocs" class="link">Evidences</a></li>
              <li><a href="/incident/{{incident.id}}/activity" class="link">Activity</a></li>
              <li><a href="/incident/{{incident.id}}/tasks" class="link">Tasks</a></li>
              <li><a href="/incident/{{incident.id}}/impacts" class="link">Impacts</a></li>
              <li><a href="/incident/{{incident.id}}/responders" class="link">Team</a></li>
              <li><a href="/incident/{{incident.id}}/report" class="link">Reporting</a></li>
              <li><a href="/incident/{{incident.id}}/settings" class="link">Settings</a></li>             
            </ul>
          </nav>
        
        <a href="/profile" class="topbar-avatar" title="{{ user.username }}">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}">
            {% else %}
                <span class="topbar-avatar-initial">{{ user.username|slice:":1" }}</span>
            {% endif %}
        </a>
    </header>

    <input type="hidden" id="incident-id" value="{{ incident.id }}">    
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    
    <div id="incident-sidebar" class="incident-sidebar">
        <!-- <h3>Incident Actions</h3> -->
        <ul id="incident-actions-list"></ul>
        <div class="feed-container">
            {% for action in incident.actions.all %}
            <div class="feed-item ioc-item">
                <p>{{ action.title }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
        
    {% block content %}{% endblock %}


<script defer src="/static/js/base.js"></script>
<script defer src="/static/js/utils.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
