{% extends 'incidents/base2.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="main-content" incident-id="{{ incident.id }}" >
    <h1>Indicators of Compromise</h1>
    <button class="button">Add IoC</button>
    <button class="button">Bulk Import</button>
    <table id="iocTable" class="table mt-3">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Value</th>
                <th>Description</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="iocTableBody">
            {% for ioc in incident.genericiocs.all %}
                <tr class="ioc-item"  data-ioc-id="{{ ioc.id }}">
                    <td>{{ ioc.created_at }}</td>
                    {% for value, label in GENERIC_IOC_TYPE_CHOICES %}
                        {% if value == ioc.type %}
                            <td>{{ label }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ ioc.value }}</td>
                    <td>{{ ioc.description }}</td>
                    <td>
                        {% for tag in ioc.tags.all %}
                        <div class="tag" style="background-color: {{ tag.color }}">
                            <span class="tag-item-value">#{{ tag.name }}</span> 
                        </div>
                        {% endfor %}
                    </td>

                    <td>
                        <button class="btn btn-sm btn-danger btn-icon delete-ioc" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>

<!-- Add IoC Modal -->
<div id="addIocModal" class="modal">
    <div class="modal-content">
        <span class="close add-ioc-modal">&times;</span>
        <h2>Add Indicator of Compromise</h2>
        <form method="post" action="{% url 'add_ioc' incident.id %}">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">            
            <div class="form-group">
                <label for="type">Type:</label>
                <select id="type" name="type" class="form-control" required>
                    <option value="" disabled selected>Select a type</option>
                    {% for choice_value, choice_label in GENERIC_IOC_TYPE_CHOICES %}
                        <option value="{{ choice_value }}">{{ choice_label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="value">Value:</label>
                <input type="text" id="value" name="value" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="tag">Tag:</label>
                <input type="text" id="tag" name="tag" class="form-control">
            </div>
            <div class="form-group">
                <label for="created_at">Created At:</label>
                <input type="text" id="created_at" name="created_at" class="form-control" readonly value="{{ now }}">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<!-- Modal structure -->
<div id="editIocModal" class="modal">
    <div class="modal-content">
        <span class="close ioc-modal">&times;</span>
        <h2>IoC Details</h2>
        
        <div class="form-group">
            <label for="ioc-type">Type</label>
            <select id="modal-ioc-type" value="">
                {% for choice_value, choice_label in GENERIC_IOC_TYPE_CHOICES %}
                    <option value="{{ choice_value }}">{{ choice_label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ioc-value">Value</label>
            <input type="text" id="modal-ioc-value"/>
        </div>
        
        <div class="form-group">
            <label for="ioc-status">Status</label>
            <select id="modal-ioc-status" value="">
                <option value="" selected>None</option>
                {% for choice_value, choice_label in GENERIC_IOC_STATUS_CHOICES %}
                    <option value="{{ choice_value }}">{{ choice_label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ioc-description">Value</label>
            <textarea id="modal-ioc-description"></textarea>
        </div>           

        <div id="modal-ioc-tags" class="tags-container"></div>
        <h3>Observed in Incident</h3>
        <div id="modal-ioc-actions" class="actions-container"></div>
        <h3>Audit</h3>
        <div id="modal-ioc-audit" class="audit-container">
            <p>Created by <span id="modal-ioc-createdby"></span> on <span id="modal-ioc-createdat"></span></p>

        </div>
        <button id="saveEditIoC">Save Changes</button>
    </div>
</div>


    
</div>

<script defer src="/static/js/iocs.js"></script>


{% endblock %}


