{% extends 'incidents/base.html' %}

{% load static %}
{% load custom_filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/overview.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
    <div id="username-display"></div>
    <form id="incident-form">
        <div class="report-frame">
            <div class="frames">
                <div class="left-frame">
                    <label for="title">Incident title</label>
                    <input type="text" id="title" name="title" value="{{incident.name}}" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
                    <label for="description">Description</label>
                    <textarea id="description" name="description" {% if current_user_role.role in 'READER, PUBLIC_VIEWER' %}disabled{% endif %}>{{incident.description}}</textarea>

                    <label for="summary">Executive summary</label>
                    <textarea id="summary" name="summary" {% if current_user_role.role in 'PUBLIC_VIEWER' %}disabled{% endif %}>{{incident.executive_summary}}</textarea>
                
                    <label for="lessons-learned">Lessons learned</label>
                    <textarea id="lessons-learned" name="lessons-learned" {% if current_user_role.role in 'READER, PUBLIC_VIEWER' %}disabled{% endif %}>{{incident.lessons_learned}}</textarea>
                
                    <label for="technical-details">Technical details</label>
                    <textarea id="technical-details" name="technical-details" {% if current_user_role.role in 'READER, PUBLIC_VIEWER' %}disabled{% endif %}>{{incident.technical_details}}</textarea>
                </div>
               
                <div class="right-frame">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <div class="custom-select">
                            <select id="status" name="status" autocomplete="off" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
                                {% for choice_value, choice_label in INCIDENT_STATUS_CHOICES %}
                                    <option value="{{ choice_value }}" {% if incident.status == choice_value %}selected{% endif %}>
                                        {{ choice_label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="severity">Severity</label>
                        <div class="custom-select">
                            <select id="severity" name="severity" autocomplete="off" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
                                {% for choice_value, choice_label in INCIDENT_SEVERITY_CHOICES %}
                                    <option value="{{ choice_value }}" {% if incident.severity == choice_value %}selected{% endif %}>
                                        {{ choice_label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>                        
                    <div class="stat-block">
                        <div class="stat-container">
                            <span class="stat-label">Starting time:</span>
                            <strong class="stat-value">{{ incident.starting_time|date:"l j F Y \\a\\t H:i" }}</strong>
                        </div>
                        <div class="stat-container">
                            <span class="stat-label">Time To Detect:</span>
                            <strong class="stat-value">{{ incident.time_to_detect|duration_format }}</strong>
                        </div>
                        <div class="stat-container">
                            <span class="stat-label">Time To Respond:</span>
                            <strong class="stat-value">{{ incident.time_to_respond|duration_format }}</strong>
                        </div>
                        <div class="stat-container">
                            <span class="stat-label">Duration:</span>
                            <strong class="stat-value">{{ incident.duration|duration_format }}</strong>
                        </div>
                        <div class="stat-container">
                            <span class="stat-label">IoCs found:</span>
                            <strong class="stat-value">{{ incident.genericiocs.count }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('incident-form');
        const incidentId = '{{ incident.id }}';  // Get the incident ID from the template
        const csrfToken = '{{ csrf_token }}';    // CSRF token for security

        // Add blur event listeners to each editable field
        form.querySelectorAll('input, textarea, select').forEach(field => {
            field.addEventListener('blur', async (event) => {
                const field = event.target;
                const formData = new FormData(form);
                const data = {};  // Data to send to the server

                // Check if the field has been changed and add the changed value to the data object
                if (field.name === 'title' && formData.get('title') !== '{{ incident.name|escapejs }}') {
                    data.title = formData.get('title');
                } else if (field.name === 'description' && formData.get('description') !== '{{ incident.description|escapejs }}') {
                    data.description = formData.get('description');
                } else if (field.name === 'summary' && formData.get('summary') !== '{{ incident.executive_summary|escapejs }}') {
                    data.executive_summary = formData.get('summary');
                } else if (field.name === 'lessons-learned' && formData.get('lessons-learned') !== '{{ incident.lessons_learned|escapejs }}') {
                    data.lessons_learned = formData.get('lessons-learned');
                } else if (field.name === 'technical-details' && formData.get('technical-details') !== '{{ incident.technical_details|escapejs }}') {
                    data.technical_details = formData.get('technical-details');
                } else if (field.name === 'status' && formData.get('status') !== '{{ incident.status|escapejs }}') {
                    data.status = formData.get('status');
                } else if (field.name === 'severity' && formData.get('severity') !== '{{ incident.severity|escapejs }}') {
                    data.severity = formData.get('severity');
                } else if (field.name === 'timeline_include') {
                    data.export_include_timeline = formData.get('timeline_include') ? true : false;
                } else if (field.name === 'iocs_include') {
                    data.export_include_iocs = formData.get('iocs_include') ? true : false;
                } else if (field.name === 'attachments_include') {
                    data.export_include_attachements = formData.get('attachments_include') ? true : false;
                }

                // Only send data if something was actually changed
                if (Object.keys(data).length > 0) {
                    try {
                        const response = await fetch(`/api/incident/${incidentId}/update/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken
                            },
                            body: JSON.stringify(data)
                        });

                        if (!response.ok) {
                            const errorData = await response.json();
                            throw new Error(errorData.error || 'Failed to update incident');
                        }

                        const responseData = await response.json();
                        console.log('Incident updated successfully:', responseData);
                        // Optionally, you can show a success message or handle UI updates
                    } catch (error) {
                        console.error('Error updating incident:', error);
                        // Optionally, handle error and show an alert or message
                    }
                }
            });
        });
    });
</script>


{% endblock %}
