{% extends 'incidents/base2.html' %}
{% load static %}
{% csrf_token %}
{% block styles %}
{% endblock %}

{% block content %}
<!-- Main content -->
<input type="hidden" id="csrf-token" value="{{ csrf_token }}">
<input type="hidden" id="current-username" value="{{ user.username }}">
<main>
    


<div class="main-frame">
    <div class="right-container">
        <div class="info-container">
            <div class="form-group">
                <label for="title">Value</label>
                <input type="text" id="value" name="value" value="" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
            </div>
            <div class="selectors">
                <div class="form-group">
                    <label for="severity">Type of evidence</label>
                    <div class="custom-select">
                        <select id="type" name="type" autocomplete="off" class="{{ioc.type}}" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
                            {% for choice_value, choice_label in GENERIC_IOC_TYPE_CHOICES %}
                            <option value="{{ choice_value }}" {% if impact.type_of_impact == choice_value %}selected{% endif %}>
                                {{ choice_label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="severity">Status</label>
                    <div class="custom-select">
                        <select id="status" name="status" autocomplete="off" class="{{ioc.status}}" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
                            {% for choice_value, choice_label in GENERIC_IOC_STATUS_CHOICES %}
                            <option value="{{ choice_value }}" {% if impact.severity == choice_value %}selected{% endif %}>
                                {{ choice_label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div> 
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" {% if current_user_role.role in 'READER, PUBLIC_VIEWER' %}disabled{% endif %}>{{impact.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="external_reference">External reference</label>
                <input type="text" id="external_reference" name="external_reference" value="{{impact.external_reference}}" {% if current_user_role.role in 'RESPONDER, READER, PUBLIC_VIEWER' %}disabled{% endif %}>
            </div>
            <div id="ioc-tags" class="tagbox"></div>

            <div id="ioc-actions" class="actions-container"></div>

        </div>
    </div>
    <div class="left-container">
        <div class="task-container">
            <button class="btn add-task-button">Add task</button>
    
            <div class="filter-buttons">
                <button class="btn filter-button" id="my-tasks-button">My tasks only</button>
                <button class="btn filter-button" id="unassigned-button">Unassigned only</button>
                <button class="btn filter-button" id="reset-button">Reset Filters</button>
            </div>
            
            <div class="kanban-board">
                {% for status, status_label in TASK_STATUS_CHOICES %}
                    <div class="kanban-column" data-status="{{ status }}">
                        <div class="task-type">
                            <h2 class="task-type-name">{{ status_label }}</h2>
                            <div class="task-type-bar"></div>
                        </div>
                        <div class="container-box">
                            {% for task in incident.tasks.all %}
                                {% if task.status == status %}
                                    <div class="kanban-task container" 
                                        data-task-id="{{ task.id }}" 
                                        data-assignee="{{ task.assignee.username|default:'' }}" 
                                        data-status="{{ task.status }}" 
                                        data-priority="{{ task.priority }}" 
                                        data-tags="{{ task.tags.all|join:',' }}" 
                                        data-external-reference="{{ task.external_reference }}">
                                        <div class="task-content">
                                            <p class="container-title">{{ task.title }}</p>
                                            <p class="container-description">{{ task.description }}</p>
                                            <p class="external-reference">{{ task.external_reference }}</p>
                                        </div>
                                        <div class="container-right">

                                        
                                            {% if task.priority == 'HIGH' %}<i class="fa-solid fa-angles-up" style="color:red;"></i>
                                            {% elif task.priority == 'MEDIUM' %}<i class="fa-solid fa-grip-lines" style="color:orange;"></i>
                                            {% elif task.priority == 'LOW' %}<i class="fa-solid fa-angles-down" style="color:blue;"></i>
                                            {% endif %}
                                            {% if task.assignee %}
                                                <div class="profile-pic"> 
                                                    <img src="{{ task.assignee.profile_picture.url }}" alt="{{task.assignee.username}} profile picture">
                                                </div>
                                            {% else %}
                                                <span class="assignee-circle" style="opacity: 0;">&nbsp;</span>
                                            {% endif %}
                                        </div>
<!--                                         
                                        {% for tag in task.tags.all %}
                                        <div class="tag" style="background-color: {{ tag.color }}">
                                            <span class="tag-item-value">#{{ tag.name }}</span> 
                                        </div>
                                        {% endfor %}
     -->
    
<!--     
                                        <button class="btn btn-sm btn-danger btn-icon delete-task" title="Delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                    </div>
                                {% endif %}
                            {% endfor %}
    
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div> 
</main>

<script>
    document.getElementById('my-tasks-button').addEventListener('click', function() {
        const currentUsername = document.getElementById('current-username').value;
        const tasks = document.querySelectorAll('.kanban-task');

        tasks.forEach(task => {
            const assignee = task.getAttribute('data-assignee');
            task.style.display = assignee === currentUsername ? 'flex' : 'none';
        });
    });

    document.getElementById('unassigned-button').addEventListener('click', function() {
        const tasks = document.querySelectorAll('.kanban-task');

        tasks.forEach(task => {
            const assignee = task.getAttribute('data-assignee');
            task.style.display = assignee === '' ? 'flex' : 'none'; // Display only unassigned tasks
        });
    });

    document.getElementById('reset-button').addEventListener('click', function() {
        const tasks = document.querySelectorAll('.kanban-task');
        tasks.forEach(task => {
            task.style.display = 'flex'; // Reset to display all tasks
        });
    });



    const modal = document.getElementById('task-modal');
    const addTaskButton = document.querySelector('.add-task-button');
    const incidentId = {{ incident.id }};
    

    // document.querySelectorAll('.kanban-task').forEach(taskElement => {
    // taskElement.addEventListener('click', function() {
    //     // Get task details from the clicked task element
    //     const taskId = taskElement.getAttribute('data-task-id'); // Assuming task has a data-task-id attribute
    //     // const taskTitle = taskElement.querySelector('.task-content h3').innerText;
    //     // const taskDescription = taskElement.querySelector('.task-content p').innerText;
    //     // const taskAssignee = taskElement.getAttribute('data-assignee');
    //     // const taskStatus = taskElement.getAttribute('data-status');
    //     // const taskPriority = taskElement.getAttribute('data-priority');
    //     // const taskTags = taskElement.getAttribute('data-tags').split(','); // Assuming tags are stored as comma-separated values
    //     // const taskExternalReference = taskElement.getAttribute('data-external-reference');

    //     // // Set tags
    //     // const tagsElement = document.getElementById('task-tags');
    //     // Array.from(tagsElement.options).forEach(option => {
    //     //     option.selected = taskTags.includes(option.value); // Mark selected tags
    //     // });

    //     // document.getElementById('task-external-reference').value = taskExternalReference;

    //     // Show the modal
    //     document.getElementById('task-modal').style.display = 'block';
    // });
    // });

    // Close modal when clicking outside of it
    // document.getElementById('task-modal').addEventListener('click', function(event) {
    //     if (event.target === this) {
    //         document.getElementById('task-modal').style.display = 'none';
    //     }
    // });

    document.querySelectorAll('.delete-task').forEach(button => {
    button.addEventListener('click', async function(event) {
        event.stopPropagation();

        const taskElement = this.closest('.kanban-task'); // Find the parent task element

        const taskId = taskElement.getAttribute('data-task-id'); // Get the task ID
        const csrfToken = document.getElementById('csrf-token').value;

        
        try {
            const response = await fetch(`/api/incident/${incidentId}/delete-task/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ id: taskId }),
            });

            if (response.ok) {
                taskElement.remove(); // Remove the task element from the DOM
            } else {
                const errorData = await response.json();
                alert(`Failed to delete task: ${errorData.error}`);
            }
        } catch (error) {
            console.error('Error deleting task:', error);
            alert('An error occurred while deleting the task.');
        }
        
    });
    });
   


    
</script>

{% endblock %}


