{% extends 'base2.html' %}

{% block content %}

<div class="main">
    <h1>OpenCIRT - TODO</h1>

    
    <h2>Before 1.0 release</h2>
    <p>- <s>Modify IoC feature</s></p>   
    <p>- <s>Add action feature</s></p>   
    <p>- <s>Delete action feature</s></p>   
    
    <p>- Modify action feature</p>
    <p>- Audit feature</p>
    <p>- Correct all created_at by observed_at</p>
    <p>- Export and import incident as JSON</p>
    <p>- Download All IoCs in misp importable format</p>
    <p>- Improve incident join workflow </p>
    <p>- Create incident feature </p>
    <p>- Profile picture feature</p>
    <p>- Proper RBAC</p>
    <p>- Frontend refactor</p>


    <h5>- Frontend refactor</h5>
    <p>Regroup Timeline and IoC -> Evidence</p>
    <p>Regroup Activity, Notes and Tasks -> Activity</p>
    <p>Responders -> Team</p>
    

    <h2>Future functionalities</h2>    
    <p> - Share IOCs between incidents</p>
    <p> - Word report export</p>
    <p> - Import tasks playbook (pre-created tasks)</p>


</div>
{% endblock %}