{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <h1>My Incidents</h1>
        <div class="incident-actions">
            <button class="button" id="createIncidentBtn">Create Incident</button>
        </div>

        <!-- Incident Table -->
        <table>
            <thead>
                <tr>
                    <th>Incident ID</th>
                    <th>Creation date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="incidentTableBody">
                {% for inc in incidents %}
                <tr class="incident-row" data-incident-id="{{ inc.id }}">
                    <td>{{ inc.id }}</td>
                    <td>{{ inc.created_at }}</td>
                    <td>{{ inc.name }}</td>
                    <td>{{ inc.status }}</td>
                    <td>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No incidents assigned to you.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all rows with the class 'incident-row'
            const rows = document.querySelectorAll('.incident-row');

            rows.forEach(row => {
                row.addEventListener('click', function () {
                    // Get the incident ID from the data attribute
                    const incidentId = this.dataset.incidentId;

                    // Redirect to the incident overview page
                    window.location.href = `/incident/${incidentId}/overview`;
                });
            });
        });
    </script>
{% endblock %}
